div {
  display: block;
  width: 100%;
  height: 500px;
  padding: 50px;
  border: 10px dotted purple;
  background-color: coral;
  margin: 100px auto; /* Top/Bottom 100px, Left/Right Auto (Center) */
  max-width: 1200px;
  box-sizing: border-box; 
}
