h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: yellowgreen;
    font-style: oblique;
}

p{
    text-decoration: underline green dashed;
    text-transform: uppercase;
}

ul{
    list-style: circle;
}

.text-spacing{
    text-align: center;
}